EBankingSystemCwk/xml-resources/web-service-references/EBankingCustomer_ws/wsdl/localhost_8080/EBankingCustomer_ws/EBankingCustomer_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ebankingCustomer_ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ebankingCustomer_ws/" name="EBankingCustomer_ws">
<types>
<xsd:schema>
<xsd:import namespace="http://ebankingCustomer_ws/" schemaLocation="http://localhost:8080/EBankingCustomer_ws/EBankingCustomer_ws?xsd=1"/>
</xsd:schema>
</types>
<message name="parseDouble">
<part name="parameters" element="tns:parseDouble"/>
</message>
<message name="parseDoubleResponse">
<part name="parameters" element="tns:parseDoubleResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="getCustomerList">
<part name="parameters" element="tns:getCustomerList"/>
</message>
<message name="getCustomerListResponse">
<part name="parameters" element="tns:getCustomerListResponse"/>
</message>
<message name="validateCustomer">
<part name="parameters" element="tns:validateCustomer"/>
</message>
<message name="validateCustomerResponse">
<part name="parameters" element="tns:validateCustomerResponse"/>
</message>
<message name="verifyCustomer">
<part name="parameters" element="tns:verifyCustomer"/>
</message>
<message name="verifyCustomerResponse">
<part name="parameters" element="tns:verifyCustomerResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="validateDate">
<part name="parameters" element="tns:validateDate"/>
</message>
<message name="validateDateResponse">
<part name="parameters" element="tns:validateDateResponse"/>
</message>
<message name="selectCustomer">
<part name="parameters" element="tns:selectCustomer"/>
</message>
<message name="selectCustomerResponse">
<part name="parameters" element="tns:selectCustomerResponse"/>
</message>
<message name="validateAccountNo">
<part name="parameters" element="tns:validateAccountNo"/>
</message>
<message name="validateAccountNoResponse">
<part name="parameters" element="tns:validateAccountNoResponse"/>
</message>
<message name="validateFormContents">
<part name="parameters" element="tns:validateFormContents"/>
</message>
<message name="validateFormContentsResponse">
<part name="parameters" element="tns:validateFormContentsResponse"/>
</message>
<message name="updateCustomerDetails">
<part name="parameters" element="tns:updateCustomerDetails"/>
</message>
<message name="checkAccountNumberField">
<part name="parameters" element="tns:checkAccountNumberField"/>
</message>
<message name="checkAccountNumberFieldResponse">
<part name="parameters" element="tns:checkAccountNumberFieldResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="EBankingCustomer_ws">
<operation name="parseDouble">
<input wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/parseDoubleRequest" message="tns:parseDouble"/>
<output wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/parseDoubleResponse" message="tns:parseDoubleResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/addCustomer" message="tns:addCustomer"/>
</operation>
<operation name="getCustomerList">
<input wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/getCustomerListRequest" message="tns:getCustomerList"/>
<output wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/getCustomerListResponse" message="tns:getCustomerListResponse"/>
</operation>
<operation name="validateCustomer">
<input wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/validateCustomerRequest" message="tns:validateCustomer"/>
<output wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/validateCustomerResponse" message="tns:validateCustomerResponse"/>
</operation>
<operation name="verifyCustomer">
<input wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/verifyCustomerRequest" message="tns:verifyCustomer"/>
<output wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/verifyCustomerResponse" message="tns:verifyCustomerResponse"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/deleteCustomer" message="tns:deleteCustomer"/>
</operation>
<operation name="validateDate">
<input wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/validateDateRequest" message="tns:validateDate"/>
<output wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/validateDateResponse" message="tns:validateDateResponse"/>
</operation>
<operation name="selectCustomer">
<input wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/selectCustomerRequest" message="tns:selectCustomer"/>
<output wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/selectCustomerResponse" message="tns:selectCustomerResponse"/>
</operation>
<operation name="validateAccountNo">
<input wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/validateAccountNoRequest" message="tns:validateAccountNo"/>
<output wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/validateAccountNoResponse" message="tns:validateAccountNoResponse"/>
</operation>
<operation name="validateFormContents">
<input wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/validateFormContentsRequest" message="tns:validateFormContents"/>
<output wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/validateFormContentsResponse" message="tns:validateFormContentsResponse"/>
</operation>
<operation name="updateCustomerDetails">
<input wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/updateCustomerDetails" message="tns:updateCustomerDetails"/>
</operation>
<operation name="checkAccountNumberField">
<input wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/checkAccountNumberFieldRequest" message="tns:checkAccountNumberField"/>
<output wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/checkAccountNumberFieldResponse" message="tns:checkAccountNumberFieldResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ebankingCustomer_ws/EBankingCustomer_ws/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="EBankingCustomer_wsPortBinding" type="tns:EBankingCustomer_ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="parseDouble">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getCustomerList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verifyCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="validateDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateAccountNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateFormContents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCustomerDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="checkAccountNumberField">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EBankingCustomer_ws">
<port name="EBankingCustomer_wsPort" binding="tns:EBankingCustomer_wsPortBinding">
<soap:address location="http://localhost:8080/EBankingCustomer_ws/EBankingCustomer_ws"/>
</port>
</service>
</definitions>